@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
section{
    margin-bottom: 88px;
}
#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
}
.about-left img{
    width: 420px;
    height: auto;
    transform: translateY(50px);
}
.about-right {
    width: 54%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #6cbe02;
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #6cbe02;
}

.address .saprater {
    margin: 0 35px;
}

.about-right .expertise ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}
